<div class="example-container h-100 shadow border-1 bg-light">
  <mat-list role="list">
    <mat-list-item role="listitem" class="hover" routerLink="/user">
      <a class="nav-link text-dark d-flex align-items-center p-0">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-primary">account_circle</mat-icon>
        <span class="ps-3 text-primary">User</span>
      </a>
    </mat-list-item>
    <mat-list-item role="listitem" class="hover" routerLink="/admission">
      <a class="nav-link text-dark d-flex align-items-center p-0">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-primary">description</mat-icon>
        <span class="ps-3 text-primary">Form</span>
      </a>
    </mat-list-item>
    <mat-list-item role="listitem" routerLink="/user" class="hover">
      <a class="nav-link text-dark d-flex align-items-center p-0">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-primary">description</mat-icon>
        <span class="ps-3 text-primary">view</span>
      </a>
    </mat-list-item>
  </mat-list>
</div>
